:root {
  --background-main: #121212;
  --background-surface: #1e1e1e;
  --text-primary: #e0e0e0;
  --highlight-primary: #00ffff;
  --highlight-secondary: #ff00ff;
  --color-support: #333333; /* Bordas e divisórias */

  /* Fontes e Configurações Globais */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-main);
  color: var(--text-primary);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
